.info-board.container {
    width: auto!important;
}
.info-board .fieldset.container {
    padding-left: 0;
    padding-right: 0;
}
.info-board .fieldset.container > .row {
    margin-left: 0;
    margin-right: 0;
}
.mcht-form-group .label-color {
    color: #999999;
}
.mcht-form-group .value-color {
    color: #333333;
}
.mcht-form-group .row-text-font {
    font-size: 14px;
}
.mcht-form-group .row-margintop {
    margin-top: 6px;
}
.mcht-form-group .fieldset {
    margin-top: 24px;
}
.mcht-form-group .caption-text-font {
    font-size: 16px;
}
.mcht-form-group .caption {
    font-size: 17px;
    color: #025D9C;
    border-bottom: 1px solid #EAF1F7;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.mcht-form-group .container-margintop {
    margin-top: 16px;
}

.mcht-form-group .img-wrap {
    position: relative;
    height: 90px;
}

.mcht-form-group .value-col {
    float: left;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    margin-left: -0.8em;
}

.mcht-form-group .label-col {
    float: left;
    padding-left: 0;
    padding-right: 0.9em;
    font-size: 16px;
    text-align: right;
    min-width: 111px;

}

.mcht-form-group .img-max {
    max-width: 200px;
}

.mcht-form-group .user-section .value{
    padding-left: 0!important;
    padding-right: 0!important;
}

.info-board .form-section-container {
    padding-right: 7px;
}
