.hide-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1999 !important;
    background: rgba(0, 0, 0, 0.25);
    opacity: 1 !important;
}

.password-body {
    position: fixed;
    width: 100%;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -150px;
    background: white;
    z-index: 2000 !important;
    max-width: 320px;
}

.password-group .header {
    position: relative;
    width: 100%;
    height: 40px;
    background: #F1F1F1;
}

.password-group .header i{
    font-size: 25px;
}

.password-group .header label {
    position: relative;
    line-height: 40px;
    margin-left: 20px;
    color: #669fc7;
}

.password-group .header i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #87b6e1;
    cursor: pointer;
}

.password-group .header i:hover {
    color: #1479ca;
}


.password-group .main-body {
    position: relative;
    width: 100%;
    height: 200px;
    background: white;
}

.password-group table {
    width: 300px;
    margin: 10px 20px;
}

.password-group table label {
    min-width: 70px;
    min-height: 32px;
    line-height: 32px;
}

.password-group table input {
    min-width: 170px;
    min-height: 32px;
}

.password-group tr {
    height: 50px;
}

.password-group .bottom-body {
    position: relative;
    width: 100%;
    height: 60px;
    background: #F1F1F1;
}

.password-group .btn-submit {
    width: 100px;
    height: 40px;
    position: relative;
    float: right;
    margin: 10px 20px;
    background-color: #428bca;
    border-color: #428bca;
    border-width: 2px;
    color: white;
    text-align: center;
}

.password-group .btn-submit:hover {
    background-color: #1b6aaa;
}

.password-group label.error{
    color: red;
}
