#logo-img {
    position: relative;
    top: 8px;
    left: 1px;
    margin-left: 10px;
    width: 35px;
    height: 23px;
}

/*最上面的导航栏*/
#navbar {
    margin-bottom: 0px;
    min-height: 45px;
    position: relative;
    background: #438EB9;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    box-shadow: 0px 2px 2px 0px rgba(115,115,115,0.50);
    position: relative;
    z-index: 100;
}
/*logo*/
#navbar .navbar-brand {
    line-height: auto !important;
    height: auto !important;
    color: #fff;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#navbar .nav>li {
    white-space: nowrap;
/*    max-width: 33%;IEhover到tab上布局会很奇怪*/
    height: 45px;
    line-height: 45px;
}
#navbar .nav>li>a {
    color: #FFF;
}

#user-nav {
    float: right;
}

#user-nav>li>a {
    padding: 0 8px;
}
#user-nav .open > a,
#ser-nav .open > a:hover,
#user-av .open > a:focus ,
#user-nav>li>a:hover, 
#user-nav>li>a:focus {
    background-color: transparent !important;
}

/*下载任务 提示容器*/
#navbar .task-box {
    position: relative;
    float: left;
    width: 50px;
    height: 45px;
    line-height: 45px;
    background-color: #62a8d1;
}

#navbar .task-box a {
    display: block;
    height: 45px;
    text-decoration: none;
    color: #fff;
    background-color: #62a8d1;
}

#navbar .task-box a i {
    position: absolute;
    left: 13px;
    top: 15px;
}

#navbar .task-box a span {
    position: absolute;
    left: 20px;
    top: 8px;
}

/* 下载任务 下拉列表 */

#navbar .task-box .dropdown-navbar {
    padding-top: 0;
    padding-bottom: 0;
    width: 190px;
}

#navbar .task-box .dropdown-navbar > li.dropdown-header {
    background-color: #ecf2f7 !important;
    color: #8090a0;
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #bcd4e5;
}

#navbar .task-box .dropdown-navbar > li {
    padding: 0 8px;
}


#navbar .task-box .dropdown-header {
    display: block;
}


#navbar .task-box .task-queue-table-sit {
    padding: 0 8px;
    max-height: 320px;
    overflow-y: auto;
}

#navbar .task-box table.task-queue-table tr {
    border-bottom: 1px solid #e4ecf3;
}



/*用户名 & 菜单trigger*/
#navbar .username {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    position: relative;
}

/*@功能tab*/
#main-nav-header .nav {
    border-bottom: 0;
    margin-right: 20px;
}
#main-nav-header .nav li > a {
    padding: 0 20px;
    border-radius: 0;
}
#main-nav-header .nav li.active > a:hover,
#main-nav-header .nav li.active > a:focus,
#main-nav-header .nav li.active > a {
    background: #5FA7D3;
}
#main-nav-header .nav > li > a:hover, 
#main-nav-header .nav > li > a:focus {
    outline: none;
    background-color: transparent;
}
#main-nav-header .bill-tab.has-fail-tx .icon {
    display: inline-block;
}
#main-nav-header .bill-tab .icon {
    display: none; 
    position: relative;
    top: 2px;
    color: #D15B47;
    margin-left: 4px;
    font-size: 18px;
}

/*小屏幕下tab切换*/
@media only screen and (max-width: 767px){
    /*
@media only screen and (max-width: 1200px){
*/
    #navbar {
        box-shadow: none;
    }
    #main-nav-header {
        box-shadow: 0px -2px 2px rgba(114,114,114,0.50);
        width: 100%;
        clear: both!important;
        float: none!important;
        background: #F9F9F9;
        border-top: 2px solid #F9F9F9;
        border-bottom: 1px solid #dce8f1;
        text-align: center;
        height: 47px;
    }

    #main-nav-header .nav {
        margin: 0;
        display: inline-block;
        width: 100%;
    }
    #main-nav-header .nav > li{
        width: 33.333333333%;
        margin-left: 0;
    }

    #main-nav-header .nav li > a {
        color: #666;
    }
    #main-nav-header .nav li.active > a:hover,
    #main-nav-header .nav li.active > a:focus,
    #main-nav-header .nav li.active > a {
        color: #333;
        margin-top: -1px;
        border-top: 2px solid #4c8fbd;
        border-width: 1px;
        background: #FFF;
        border-right: 1px solid #c5d0dc;
        border-left: 1px solid #c5d0dc;
        background-color: #FFF;
        box-shadow: none;
    }
}

#page-body .tab-pane {
    width: 100%;
    margin:0 auto 0 auto;
    padding-top: 32px;
    max-width: 1400px;
}

#navbar-container{
    margin:0 auto 0 auto;
    max-width: 1200px;
}