/* line 1, ../sass/opf-password.scss */
.hide-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1999 !important;
  background: rgba(0, 0, 0, 0.25);
  opacity: 1 !important;
}

/* line 12, ../sass/opf-password.scss */
.password-body {
  position: fixed;
  width: 100%;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -150px;
  background: white;
  z-index: 2000 !important;
  max-width: 320px;
}

/* line 25, ../sass/opf-password.scss */
.password-group .header {
  position: relative;
  width: 100%;
  height: 40px;
  background: #F1F1F1;
}

/* line 32, ../sass/opf-password.scss */
.password-group .header i {
  font-size: 25px;
}

/* line 36, ../sass/opf-password.scss */
.password-group .header label {
  position: relative;
  line-height: 40px;
  margin-left: 20px;
  color: #669fc7;
}

/* line 43, ../sass/opf-password.scss */
.password-group .header i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #87b6e1;
  cursor: pointer;
}

/* line 51, ../sass/opf-password.scss */
.password-group .header i:hover {
  color: #1479ca;
}

/* line 56, ../sass/opf-password.scss */
.password-group .main-body {
  position: relative;
  width: 100%;
  height: 200px;
  background: white;
}

/* line 63, ../sass/opf-password.scss */
.password-group table {
  width: 300px;
  margin: 10px 20px;
}

/* line 68, ../sass/opf-password.scss */
.password-group table label {
  min-width: 70px;
  min-height: 32px;
  line-height: 32px;
}

/* line 74, ../sass/opf-password.scss */
.password-group table input {
  min-width: 170px;
  min-height: 32px;
}

/* line 79, ../sass/opf-password.scss */
.password-group tr {
  height: 50px;
}

/* line 83, ../sass/opf-password.scss */
.password-group .bottom-body {
  position: relative;
  width: 100%;
  height: 60px;
  background: #F1F1F1;
}

/* line 90, ../sass/opf-password.scss */
.password-group .btn-submit {
  width: 100px;
  height: 40px;
  position: relative;
  float: right;
  margin: 10px 20px;
  background-color: #428bca;
  border-color: #428bca;
  border-width: 2px;
  color: white;
  text-align: center;
}

/* line 103, ../sass/opf-password.scss */
.password-group .btn-submit:hover {
  background-color: #1b6aaa;
}

/* line 107, ../sass/opf-password.scss */
.password-group label.error {
  color: red;
}
