/* line 14, ../sass/opf-txnflow.scss */
#txn-pane .txn-main {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  /* line 20, ../sass/opf-txnflow.scss */
  #txn-pane .search-btn-line {
    margin: 0 5px;
  }
}
@media (max-width: 767px) {
  /* line 27, ../sass/opf-txnflow.scss */
  #txn-pane .txn-main {
    width: 100%;
  }
}
/* line 32, ../sass/opf-txnflow.scss */
#txn-pane .container {
  /*width: 100%;*/
}

/* line 35, ../sass/opf-txnflow.scss */
#txn-pane .search-btn-line {
  position: relative;
  height: 70px;
  padding-bottom: 24px;
  line-height: 44px;
  text-align: center;
}

/* line 43, ../sass/opf-txnflow.scss */
#txn-pane .search-btn-line .txn-title {
  margin-left: -4em;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* line 50, ../sass/opf-txnflow.scss */
#txn-pane .search-btn-line button {
  height: 44px;
}

/* line 54, ../sass/opf-txnflow.scss */
#txn-pane .search-btn-line .icon-caret-down {
  margin-left: 4px;
  color: #999;
}

/* line 59, ../sass/opf-txnflow.scss */
#txn-pane .search-btn-line button.more-search-trigger {
  color: #87B87F;
  border-color: #87B87F;
}

/* line 64, ../sass/opf-txnflow.scss */
#txn-pane .unit-inner .success-count-container {
  float: left;
  width: 50%;
  padding-left: 20%;
  border-color: #6FB3E0;
}

/* line 72, ../sass/opf-txnflow.scss */
#txn-pane .unit-inner .success-count-container .success-count {
  line-height: 34px;
  font-size: 28px;
  color: #6FB3E0;
}

/* line 78, ../sass/opf-txnflow.scss */
#txn-pane .unit-inner .success-count-container .success-count-text {
  color: #666;
}

/* line 82, ../sass/opf-txnflow.scss */
#txn-pane .unit-inner .success-amt-container {
  float: right;
  width: 50%;
  padding-left: 20%;
  border-color: #9ABC32;
}

@media (max-width: 767px) {
  /* line 90, ../sass/opf-txnflow.scss */
  #txn-pane .unit-inner .success-count-container,
  #txn-pane .unit-inner .success-amt-container {
    padding-left: 7%;
  }

  /* line 95, ../sass/opf-txnflow.scss */
  #txn-pane .unit-inner .success-count-container .success-count,
  #txn-pane .unit-inner .success-amt-container .success-amt {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  /* line 104, ../sass/opf-txnflow.scss */
  #txn-pane .unit-inner .success-amt-container {
    padding-left: 0px;
  }
}
/* line 110, ../sass/opf-txnflow.scss */
#txn-pane .unit-inner .success-amt-container .success-amt {
  font-size: 28px;
  line-height: 34px;
  color: #9ABC32;
}

/* line 116, ../sass/opf-txnflow.scss */
#txn-pane .unit-inner .success-amt-container .success-amt-text {
  color: #666;
}

/* line 120, ../sass/opf-txnflow.scss */
#txn-pane .summary-tips {
  background: #EFEFEF;
  border-radius: 5px;
}

/* line 126, ../sass/opf-txnflow.scss */
#txn-pane .txn-main .txn-no-data {
  width: 160px;
  height: 270px;
  margin: 20% auto 0;
}

@media (max-width: 767px) {
  /* line 133, ../sass/opf-txnflow.scss */
  #txn-pane .txn-main .txn-no-data {
    width: 160px;
    margin: 10% auto 0;
  }
}
/* line 140, ../sass/opf-txnflow.scss */
#txn-pane .txn-no-data .opf-icon-search {
  display: block;
  width: 142px;
  height: 190px;
  font-size: 64px;
  color: #ccc;
  padding: 38% 25%;
  border: 2px dashed #ccc;
  margin: 0 auto 32px;
}

@media (max-width: 767px) {
  /* line 152, ../sass/opf-txnflow.scss */
  #txn-pane .txn-no-data .opf-icon-search {
    width: 100px;
    height: 120px;
    padding: 24% 16%;
    font-size: 48px;
    margin: 0 auto 10%;
  }
}
/* line 161, ../sass/opf-txnflow.scss */
#txn-pane .txn-no-data .info-container {
  text-align: center;
}

/* line 165, ../sass/opf-txnflow.scss */
#txn-pane .txn-no-data .main-info {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 16px;
}

/* line 171, ../sass/opf-txnflow.scss */
#txn-pane .txn-no-data .suggest-info {
  display: inline-block;
  font-size: 16px;
}

/* line 177, ../sass/opf-txnflow.scss */
#txn-pane .flow-list-wrap {
  padding-left: 0;
  padding-right: 0;
}

/* line 181, ../sass/opf-txnflow.scss */
#txn-pane .flow-list-wrap .day-block {
  margin-top: 30px;
  border-bottom: 1px solid #E4E5E7;
}

/* line 185, ../sass/opf-txnflow.scss */
#txn-pane .flow-list-wrap .search-btn-line .icon {
  margin-right: 6px;
}

/* line 188, ../sass/opf-txnflow.scss */
#txn-pane .flow-list-wrap .day-block:first-child {
  margin-top: 10px;
}

/* line 191, ../sass/opf-txnflow.scss */
#txn-pane .day-block .day-header {
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
  border-bottom: 1px solid #E4E5E7;
  border-top: 1px solid #E4E5E7;
  color: #333;
  background: #EFF3F8;
}

/* line 201, ../sass/opf-txnflow.scss */
#txn-pane .day-block thead {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #E4E5E7;
  color: #333;
  background: #EFF3F8;
}
/* line 207, ../sass/opf-txnflow.scss */
#txn-pane .day-block thead tr:hover {
  background: #EFF3F8;
}

@media (max-width: 480px) {
  /* line 215, ../sass/opf-txnflow.scss */
  #txn-pane .day-block .day-header {
    padding: 0 6px;
  }
}
/* line 223, ../sass/opf-txnflow.scss */
#txn-pane .flow-detail table,
#txn-pane .day-block table {
  width: 100%;
  border: none !important;
}

/* line 230, ../sass/opf-txnflow.scss */
#txn-pane .day-block table thead th {
  padding: 0px 0px;
  border-bottom: 1px solid #ddd;
}

/* line 235, ../sass/opf-txnflow.scss */
#txn-pane .day-block table tbody td {
  padding: 9px 0px;
}

/* line 239, ../sass/opf-txnflow.scss */
#txn-pane .day-block tr.active .td-arrow-inner {
  padding-right: 0;
}

/* line 242, ../sass/opf-txnflow.scss */
#txn-pane .flow-detail table > tbody > tr > td:first-child,
#txn-pane .day-block table > tbody > tr > td:first-child {
  text-align: left;
}

/* line 246, ../sass/opf-txnflow.scss */
#txn-pane .flow-detail table > tbody > tr > td:last-child,
#txn-pane .day-block table > tbody > tr > td:last-child {
  text-align: right;
}

/* line 251, ../sass/opf-txnflow.scss */
#txn-pane .opf-table .time-col {
  width: 16%;
}

/* line 255, ../sass/opf-txnflow.scss */
#txn-pane .opf-table .ac-no-col {
  width: 16%;
  color: #999;
}

/* line 261, ../sass/opf-txnflow.scss */
#txn-pane .opf-table .trace-no-col {
  width: 16%;
  color: #999;
}

/* line 266, ../sass/opf-txnflow.scss */
#txn-pane .opf-table .trade-type-col {
  width: 32%;
  color: #999;
}

/* line 271, ../sass/opf-txnflow.scss */
#txn-pane .opf-table .color-red .ac-no-col,
#txn-pane .opf-table .color-red .trace-no-col,
#txn-pane .opf-table .color-red .trade-type-col {
  color: #DD5A43;
}

/* line 278, ../sass/opf-txnflow.scss */
#txn-pane .opf-table .amt-col {
  width: 20%;
}

@media (max-width: 767px) {
  /* line 283, ../sass/opf-txnflow.scss */
  #txn-pane .opf-table .time-col {
    width: 33%;
  }

  /* line 287, ../sass/opf-txnflow.scss */
  #txn-pane .opf-table .ac-no-col {
    width: 0;
    padding: 0;
  }
  /* line 290, ../sass/opf-txnflow.scss */
  #txn-pane .opf-table .ac-no-col div {
    display: none;
    width: 0;
  }

  /* line 296, ../sass/opf-txnflow.scss */
  #txn-pane .opf-table .trace-no-col {
    width: 0;
    padding: 0;
  }
  /* line 299, ../sass/opf-txnflow.scss */
  #txn-pane .opf-table .trace-no-col div {
    display: none;
    width: 0;
  }

  /* line 305, ../sass/opf-txnflow.scss */
  #txn-pane .opf-table .trade-type-col {
    width: 33%;
  }

  /* line 310, ../sass/opf-txnflow.scss */
  #txn-pane .opf-table .amt-col {
    width: 33%;
  }
}
/* line 317, ../sass/opf-txnflow.scss */
.time-col .innerwrap {
  position: relative;
  height: 44px;
  line-height: 44px;
  padding-left: 24px;
}

@media (max-width: 480px) {
  /* line 325, ../sass/opf-txnflow.scss */
  .time-col .innerwrap {
    padding-left: 6px;
  }
}
/* line 330, ../sass/opf-txnflow.scss */
.time-col .innerwrap .sub-code-type {
  margin-left: 55px;
}

/* line 334, ../sass/opf-txnflow.scss */
.time-col img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
}

/* line 341, ../sass/opf-txnflow.scss */
.amt-col .td-inner,
.amt-col .th-inner {
  padding-right: 24px;
}

@media (max-width: 480px) {
  /* line 347, ../sass/opf-txnflow.scss */
  .amt-col .td-inner,
  .amt-col .th-inner {
    padding-right: 6px;
  }
}
/* line 353, ../sass/opf-txnflow.scss */
.date-overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 8000;
}

@media (min-width: 768px) {
  /* line 368, ../sass/opf-txnflow.scss */
  #txn-pane .flow-detail {
    border-left: 1px solid #E4E5E7;
  }

  /* line 371, ../sass/opf-txnflow.scss */
  #txn-pane .flow-list-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 377, ../sass/opf-txnflow.scss */
#txn-pane .signature {
  border-top: 1px solid #E4E5E7;
  padding-top: 10px;
}

/* line 381, ../sass/opf-txnflow.scss */
#txn-pane .signature img {
  max-width: 100%;
}

/* line 385, ../sass/opf-txnflow.scss */
.more-search table {
  width: 100%;
}

/* line 388, ../sass/opf-txnflow.scss */
.more-search table td:first-child {
  text-align: right;
}

/* line 391, ../sass/opf-txnflow.scss */
.more-search table td:last-child {
  text-align: left;
  padding-left: 10px;
}

/* line 395, ../sass/opf-txnflow.scss */
#txn-pane form {
  padding: 0 24px;
}

#txn-pane .search-panel form {
  padding: 0;
}

/* line 400, ../sass/opf-txnflow.scss */
#txn-pane form .ac-row input {
  width: 100%;
}

/* line 403, ../sass/opf-txnflow.scss */
#txn-pane .more-search {
  border: 1px solid;
}

/* line 406, ../sass/opf-txnflow.scss */
#txn-pane .more-search form table tr td:first-child {
  white-space: nowrap;
}

/* line 409, ../sass/opf-txnflow.scss */
#txn-pane .more-search form table tr td {
  padding-bottom: 24px;
}

/* line 414, ../sass/opf-txnflow.scss */
#txn-pane .more-search .btn-search {
  line-height: 12px;
}

/* line 418, ../sass/opf-txnflow.scss */
#txn-pane .reset {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* line 424, ../sass/opf-txnflow.scss */
#txn-pane .search-form label.error {
  color: red;
  font-size: 0.7em;
  width: 100%;
}

/* line 430, ../sass/opf-txnflow.scss */
#txn-pane .search-form .cardNo {
  float: left;
}

/* line 433, ../sass/opf-txnflow.scss */
#txn-pane .search-form #head-div {
  width: 33%;
}

/* line 436, ../sass/opf-txnflow.scss */
#txn-pane .search-form #tail-div {
  max-width: 25%;
}

/* line 439, ../sass/opf-txnflow.scss */
#txn-pane .fdxxx {
  padding-left: 15px;
  margin-bottom: 15px;
}

/* line 445, ../sass/opf-txnflow.scss */
.txn-details-container table {
  width: 100%;
}

/* line 449, ../sass/opf-txnflow.scss */
.txn-details-container th:first-child {
  text-align: left;
}

/* line 453, ../sass/opf-txnflow.scss */
.txn-details-container th:last-child {
  text-align: right;
}

/* line 458, ../sass/opf-txnflow.scss */
.txn-details-container td:first-child {
  text-align: left;
}

/* line 461, ../sass/opf-txnflow.scss */
.txn-details-container td:last-child {
  text-align: right;
}

/* line 465, ../sass/opf-txnflow.scss */
.ui-dialog .txn-details-container .header {
  line-height: 30px;
  border-top: 1px solid #E68A8A;
  border-bottom: 1px solid #E68A8A;
}

/* line 470, ../sass/opf-txnflow.scss */
.ui-dialog .txn-details-container .header td {
  font-weight: bold;
}

/* line 474, ../sass/opf-txnflow.scss */
.ui-dialog .txn-details-container .body {
  margin-top: 3px;
  border-top: 1px solid #E68A8A;
}

/* line 479, ../sass/opf-txnflow.scss */
.ui-dialog .txn-details-container .foot {
  padding: 10px 18px;
  border-top: 1px solid #D7D7D7;
}

/* line 484, ../sass/opf-txnflow.scss */
.ui-dialog .txn-details-container .foot span {
  font-weight: bold;
}
