@charset "UTF-8";
@media (max-width: 480px) {
  /* line 30, ../sass/opf-base.scss */
  .opf-screen-list {
    width: auto;
  }
}
/* line 40, ../sass/opf-base.scss */
.visible-only-xs,
.visible-only-sm,
.visible-only-md,
.visible-only-lg {
  display: none;
}

@media (max-width: 767px) {
  /* line 47, ../sass/opf-base.scss */
  .visible-only-xs {
    /* IE 不支持 initial 关键字 */
    display: inline;
    display: initial !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 54, ../sass/opf-base.scss */
  .visible-only-sm {
    display: inline;
    display: initial !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 60, ../sass/opf-base.scss */
  .visible-only-md {
    display: inline;
    display: initial !important;
  }
}
@media (min-width: 1200px) {
  /* line 66, ../sass/opf-base.scss */
  .visible-only-lg {
    display: inline;
    display: initial !important;
  }
}
/* line 73, ../sass/opf-base.scss */
.invisible-in-xs {
  display: inline;
  display: initial;
}

@media (max-width: 767px) {
  /* line 79, ../sass/opf-base.scss */
  .invisible-in-xs {
    display: none !important;
  }
}
/* line 84, ../sass/opf-base.scss */
.invisible-in-sm {
  display: initial;
}

@media (max-width: 991px) {
  /* line 90, ../sass/opf-base.scss */
  .invisible-in-sm {
    display: none !important;
  }
}
/* line 95, ../sass/opf-base.scss */
.invisible-in-lg {
  display: initial;
}

@media (min-width: 1200px) {
  /* line 101, ../sass/opf-base.scss */
  .invisible-in-lg {
    display: none !important;
  }
}
/* line 107, ../sass/opf-base.scss */
body {
  min-width: 320px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

/* line 114, ../sass/opf-base.scss */
* {
  Font-family: "Hiragino Sans GB",Helvetica, Tahoma, Arial,  SimSun, sans-serif, Heiti, "Microsoft Yahei", "黑体";
}

/***********************************
  border-color
  blue: 蓝色
  green: 绿色
  brown: 咖啡色
 ************************************/
.border-color-blue { border-color: #6FB3E0; }
.border-color-green { border-color: #9ABD41; }
.border-color-brown { border-color: #C09853; }

/***********************************
  text-color
  blue: 蓝色
  green: 绿色
  brown: 咖啡色
 ************************************/
.text-color-blue { color: #2C8CCD; }
.text-color-green { color: #819C36; }
.text-color-brown { color: #AB833F; }


/* 下载按钮 */
.btn-download {
  height: 44px;
  color: #0CBF9A;
  border: 1px solid #0CBF9A;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.btn-download:hover {
  color: #fff;
  background: #04D2A4;
}
.btn-download i {
  position: relative;
  top: 1px;
  padding-right: 4px;
  font-size: 19px;
}

/* text-color */
.unit-inner.summary {
  padding: 0 0 21px 0;
  text-align: center;
}
.unit-inner.summary div[class^='col-xs'] {
  padding-top: 19px;
  border-width: 1px 0 0 0;
  border-style: solid;
  line-height: 34px;
}
.unit-inner.summary div[class^='col-xs']>div:nth-child(1) {
  font-size: 28px;
}
.unit-inner.summary div[class^='col-xs']>div:nth-child(2) {
  color: #999;
}

/* line 140, ../sass/opf-base.scss */
.blue-font {
  color: #44B0FF;
}

/* line 144, ../sass/opf-base.scss */
.none-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 148, ../sass/opf-base.scss */
.no-wrap {
  white-space: nowrap;
}

/* line 152, ../sass/opf-base.scss */
.pointer {
  cursor: pointer;
}

/* line 156, ../sass/opf-base.scss */
.no-border {
  border: none !important;
}

/* line 160, ../sass/opf-base.scss */
#brand-caption {
  color: white;
  text-align: center;
  float: left;
  font-size: 20px;
  line-height: 45px;
  font-family: 'Open Sans';
}

@media (max-width: 1199px) {
  /* line 170, ../sass/opf-base.scss */
  #brand-caption {
    margin: 0 5px;
  }
}
/* line 175, ../sass/opf-base.scss */
.light-blue-activable:hover,
.light-blue-activable.hover,
.light-blue-activable:focus,
.light-blue-activable.focus,
.xlight-blue-activable:active,
.light-blue-activable.active {
  background: #ecf3f9;
  color: #445566;
}

/* line 185, ../sass/opf-base.scss */
table.hfa tr:hover,
table.hfa tr.hover,
table.hfa tr:focus,
table.hfa tr.focus,
xtable.hfa tr:active,
table.hfa tr.active {
  background: #ecf3f9;
}

/*opf-table*/
/* line 195, ../sass/opf-base.scss */
table.opf-table {
  border: 1px solid #CFCFCF;
}

/* line 199, ../sass/opf-base.scss */
.opf-table tr:hover,
.opf-table tr.hover,
.opf-table tr:focus,
.opf-table tr.focus {
  background: #F5F5F5;
}

/* line 206, ../sass/opf-base.scss */
.opf-table tr:active,
.opf-table tr.active {
  background: #E4EFC9;
}

/* line 211, ../sass/opf-base.scss */
table.opf-table .font-red {
  color: #BD3934;
}

/* line 214, ../sass/opf-base.scss */
table.opf-table .font-green {
  color: #50754C;
}

/* line 217, ../sass/opf-base.scss */
table.opf-table tr {
  white-space: nowrap;
}

/* line 221, ../sass/opf-base.scss */
table.opf-table tbody tr {
  cursor: pointer;
}

/* line 224, ../sass/opf-base.scss */
table.opf-table tbody td {
  border-top: 1px solid #DDD;
  padding: 11px 16px;
  font-weight: lighter;
}

/* line 230, ../sass/opf-base.scss */
table.opf-table tr:first-child td {
  border-top: none;
}

/* line 234, ../sass/opf-base.scss */
table.opf-table thead th,
table.opf-table thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #AAA;
}

/* line 240, ../sass/opf-base.scss */
table.opf-table thead th {
  font-weight: normal;
}

/* line 244, ../sass/opf-base.scss */
table.opf-table thead,
table.opf-table tfoot {
  color: #333;
}

/* line 250, ../sass/opf-base.scss */
.opf-pager.pager {
  background-color: #F9F9F9;
  border: 1px solid #CFCFCF;
  margin: 0;
  height: 44px;
  line-height: 44px;
  /* white-space: nowrap; */
}

/* line 257, ../sass/opf-base.scss */
.opf-pager.pager {
  border-top: none;
}

/* line 261, ../sass/opf-base.scss */
.opf-pager.pager li a,
.opf-pager.pager .page-info span {
  padding: 0;
  border: none;
  background: transparent;
}

/* line 267, ../sass/opf-base.scss */
.opf-pager.pager .previous > a {
  padding-left: 10px;
}

/* line 270, ../sass/opf-base.scss */
.opf-pager.pager .next > a {
  padding-right: 10px;
}

/* line 273, ../sass/opf-base.scss */
.opf-pager.pager li > a:hover,
.opf-pager.pager li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

/* line 282, ../sass/opf-base.scss */
div.opf-info-block {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #CFCFCF;
  margin-bottom: 16px;
  overflow: hidden;
}

/* line 288, ../sass/opf-base.scss */
.opf-info-block .header {
  color: #666;
  background-color: #F9F9F9;
  padding: 16px;
  border-bottom: 1px solid #CFCFCF;
}

/* line 294, ../sass/opf-base.scss */
.opf-info-block .foot,
.opf-info-block .body {
  padding: 14px;
}

/* line 298, ../sass/opf-base.scss */
.opf-info-block .body table {
  width: 100%;
}

/* line 301, ../sass/opf-base.scss */
.opf-info-block .body table.list td {
  padding: 8px 0;
}

/* line 304, ../sass/opf-base.scss */
.opf-info-block .body table > tbody > tr > td:first-child {
  text-align: left;
}

/* line 307, ../sass/opf-base.scss */
.opf-info-block .body table > tbody > tr > td:last-child {
  text-align: right;
}

/* line 310, ../sass/opf-base.scss */
.opf-info-block .body table.list > tbody > tr:first-child td {
  padding-top: 0;
}

/* line 313, ../sass/opf-base.scss */
.opf-info-block .body table.list > tbody > tr:last-child td {
  padding-bottom: 0;
}

/* line 316, ../sass/opf-base.scss */
.opf-info-block .inner {
  padding: 0 14px;
}

/* line 319, ../sass/opf-base.scss */
.opf-info-block .separator {
  width: 100%;
  border-top: 1px solid #CFCFCF;
}

/* line 323, ../sass/opf-base.scss */
.fancybox-wrap {
  min-width: 280px !important;
}

/* line 327, ../sass/opf-base.scss */
.btn-scroll-up {
  border: none;
  position: fixed;
  right: 10px;
  bottom: 45px;
  z-index: 11;
  color: white !important;
  background-color: #666666;
  border-color: #666666;
}

/* line 339, ../sass/opf-base.scss */
.btn-scroll-up:hover {
  background-color: #555555;
  border-color: #555555;
}

/* line 344, ../sass/opf-base.scss */
.xx {
  color: #123123;
}

@media (max-width: 767px) {
  /* line 352, ../sass/opf-base.scss */
  #fancybox-buttons {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
/* line 357, ../sass/opf-base.scss */
#fancybox-buttons a.btnPrev {
  background-position: 1px 0 !important;
}

/* line 362, ../sass/opf-base.scss */
tr.active .td-arrow-inner {
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
  height: 44px;
  line-height: 44px;
}

/* line 369, ../sass/opf-base.scss */
.td-arrow-inner .icon {
  color: #CFCFCF;
  margin-left: 8px;
}

/* line 373, ../sass/opf-base.scss */
table.opf-table tbody tr.active td.td-arrow,
tr.active td.td-arrow {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  /* line 380, ../sass/opf-base.scss */
  tr.active .td-arrow-inner:after {
    border-bottom: 21px solid transparent;
    border-left: 21px solid #ecf3f9;
    border-right: 21px solid transparent;
    border-top: 21px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 1px;
    right: auto;
  }

  /* line 392, ../sass/opf-base.scss */
  tr.active .td-arrow-inner:before {
    border-bottom: 22px solid transparent;
    border-left: 22px solid #CFCFCF;
    border-right: 22px solid transparent;
    border-top: 22px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    right: auto;
  }

  /* line 404, ../sass/opf-base.scss */
  .back-header .back-trigger {
    padding-left: 30px;
  }
}
/* line 409, ../sass/opf-base.scss */
.text-green {
  color: green;
}

/* line 412, ../sass/opf-base.scss */
.text-red {
  color: #DD5A43;
}

/* line 416, ../sass/opf-base.scss */
.text-grey {
  color: #999;
}

/* line 420, ../sass/opf-base.scss */
.rotating-1 img {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* line 424, ../sass/opf-base.scss */
:root .rotating-1 img {
  filter: none;
  -ms-filter: none;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 433, ../sass/opf-base.scss */
.rotating-2 img {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/* line 437, ../sass/opf-base.scss */
:root .rotating-2 img {
  filter: none;
  -ms-filter: none;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 446, ../sass/opf-base.scss */
.rotating-3 img {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 450, ../sass/opf-base.scss */
:root .rotating-3 img {
  filter: none;
  -ms-filter: none;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 460, ../sass/opf-base.scss */
#fancybox-buttons li {
  width: 30px;
  height: 30px;
  text-align: center;
}
/* line 464, ../sass/opf-base.scss */
#fancybox-buttons li i {
  color: white;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
}

/* line 473, ../sass/opf-base.scss */
.help-wrap {
  max-width: 500px;
  font-size: 1em;
}
/* line 476, ../sass/opf-base.scss */
.help-wrap .help-label {
  padding-left: 2em;
}

/* line 481, ../sass/opf-base.scss */
.opf-screen-detailing .opf-screen-detail .title {
  font-weight: bold;
}

/* line 485, ../sass/opf-base.scss */
.overlay-screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
}

/* line 493, ../sass/opf-base.scss */
.details-container {
  position: absolute;
  z-index: 2000;
}

/* line 498, ../sass/opf-base.scss */
.ui-widget-overlay {
  background: rgba(51, 51, 51, 0.6) !important;
  filter: Alpha(opacity=60);
  background: #333;
}

/* line 504, ../sass/opf-base.scss */
.btn-opf {
  padding: 6px 16px;
  font-size: 16px;
}

@media (max-width: 480px) {
  /* line 510, ../sass/opf-base.scss */
  .btn-opf {
    font-size: 14px;
  }
}
/* 最初加载页面的提示信息 */
/* line 519, ../sass/opf-base.scss */
.loadingAllIndicator {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -16px;
}

/* line 528, ../sass/opf-base.scss */
.loadingAllIndicator .loading-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: transparent url("images/page_loading.gif") center center no-repeat;
}

/* iboxpay */
.ibx-container {
  padding: 15px 30px;
}
.ibx-container label {
  font-size: 12px;
  font-weight: normal;
  text-align: right;
}
.ibx-container label.error {
  color: #DD5A43;
}
.ibx-container .row {
  margin-bottom: 10px;
}
.ibx-container .form-label {
  margin: 0;
  display: block;
  line-height: 34px;
}
.modal-title {
  font-size: 16px;
  font-weight: bold;
}